<header class = "navbar navbar-fixed-top navbar-default">
  <div class = "container">
    <%= link_to "my Recipes", root_path, class: "btn btn-lg btn-success", id: "logo" %>
   
    <ul class= "nav_item nav_item_ul ">
      <li class = "dropdown">
          <%= link_to "#", class: "btn btn-default btn-warning dropdown-toggle ", "data-toggle" => "dropdown" do %>
            Styles <b class = "caret"></b>
          <% end %>
          <ul class = "dropdown-menu">
            <% Style.all.each do | style | %>
              <li><%= link_to  style.name, style_path(style) %></li>
            <% end %>
            <% if logged_in? %>
              <li class = 'divider'></li>
              <li> 
                <%= link_to "New Style",  (new_style_path) %>
                 
              </li>
            <% end %>
            
          </ul>
        </li>
    </ul>
    
   <ul class= "nav_item nav_item_ul ingred ">
      <li class = "dropdown">
          <%= link_to "#", class: "btn btn-default btn-warning dropdown-toggle ", "data-toggle" => "dropdown" do %>
           Ingedient <b class = "caret"></b>
          <% end %>
          <ul class = "dropdown-menu">
            <% Ingredient.all.each do | ingredient | %>
              <li><%= link_to  ingredient.name, style_path(ingredient) %></li>
            <% end %>
            
            <% if logged_in? %>
              <li class = 'divider'></li>
              <li> 
                <%= link_to "New ingredient", (new_ingredient_path) %>
                 
              </li>
            <% end %>
            
          </ul>
        </li>
    </ul>
    
    
     <% if logged_in? %>
      <div class= "nav_item">
        <%= link_to " New Recipe ", new_recipe_path, class: "btn  btn-warning"%>
      </div>
     
      <div class = "pull-right">
        
      <ul class = "nav_item nav_button ">
        <li class = "dropdown">
          <%= link_to "#", class: "btn btn-default btn-danger dropdown-toggle", "data-toggle" => "dropdown" do %>
            <%= current_user.name %> <b class = "caret"></b>
          <% end %>
          <ul class = "dropdown-menu">
            <li><%= link_to "View Profile", chef_path(current_user) %> </li>
            <li><%= link_to "Edit Profile", edit_chef_path(current_user) %> </li>
            <li class = "divider" ></li>
            <li><%= link_to "Logout", logout_path %> </li>
          </ul>
        </li>
      </ul>
        
        
        <%= gravatar_for(current_user, {size: 50}, "nav_pic" ) %>

        
        
      </div>
    <% else %>
      <div class = "nav_item">
        <%= link_to "Login", login_path, class: "btn btn-default btn-success" %>
      </div>
    <% end %>
      
    
  </div>
</header>